.container
  .row(style='margin-bottom:5%')
    .col-lg-12.col-md-12
      h3 Lightweight implementation of the "MEAN Stack"
    .col-lg-12.col-md-12.text-center
      p Please if you want to contribute or report errors
      a(href='https://github.com/cybermarkus1/Ghost-Markdown-Editor/tree/node') Github project
  .row
    .col-lg-12.col-md-12.text-center
      .service-box
        img.img-responsive(src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06a/25a/19d7f97.jpg", alt="", width="350px", data-wow-delay=".1s")
        h3 Marco Antonio Pajares - CoFounder
        p.text-muted
          | Marco A. Pajares is a computer programmer, passionate about tech and JS world, newbie entrepreneur, former game developer, Carlos III former pupil and currently, Frontend developer at Smaato (Hamburg,Germany).
  .row.col-md-9(style='margin:auto auto;margin:2%')
    h2 # Changelog
    feed(summary="true" url="https://github.com/cybermarkus1/Ghost-Markdown-Editor/commits/master.atom" count="5")